@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  @apply text-fg200 bg-bg400;
}

#app {
  font-family: 'Poppins', sans-serif;
}

a {
  /*@apply text-blue-500 hover:text-blue-600;*/
  @apply text-accent-100 hover:text-accent-200;
}

.hyperlink {
  @apply bg-gradient-to-tr text-transparent bg-clip-text hover:bg-gradient-to-bl from-pink-600 to-indigo-500 transition-all hover:text-transparent;
}

.nav-link {
  @apply px-6 py-7 text-fg200 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-tr from-pink-600 to-indigo-500;
}

.active-link {
  @apply underline;
}

section {
  min-height: 80vh;
  min-height: 80svh;
  @apply py-12;
}

.scroll {
  @apply bg-bg300 hover:bg-bg200 h-32 w-10 md:w-24 text-3xl hover:text-4xl md:hover:text-6xl;
  transition: font-size 0.3s ease;
}

.cross-img {
  @apply bg-cover bg-no-repeat bg-center md:order-none filter brightness-90 hover:brightness-100 transition-all;
  min-height: 50vh;
  min-height: 50svh;
}

.cross-text {
  @apply m-10 md:m-20 pb-10 md:p-0 md:order-none;
}

.button {
  @apply px-4 py-2 text-white bg-blue-500 rounded-sm shadow-md hover:bg-blue-600 hover:text-white focus:outline-none;
}
