@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --fg-100: #ffffff;
  --fg-200: #f9f9f9;
  --bg-100: #000000;
  --bg-200: #111111;
}

body {
  color: var(--fg-200);
  background-color: var(--bg-200);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

.button {
  @apply px-4 py-2 text-white bg-blue-500 rounded-sm shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-700;
}

.input {
  @apply bg-inherit px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500;
}
